/**
 * Sectioning
 * Container and responsive spacings for header, main, footer
 */
main { 
  display: block;
}

body {
  width: 100%;
  margin: 0;
}
body > header,
body > main,
body > footer {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: var(--block-spacing-vertical) var(--block-spacing-horizontal);
}
@media (min-width: 576px) {
  body > header,
body > main,
body > footer {
    max-width: 510px;
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 768px) {
  body > header,
body > main,
body > footer {
    max-width: 700px;
  }
}
@media (min-width: 992px) {
  body > header,
body > main,
body > footer {
    max-width: 920px;
  }
}
@media (min-width: 1200px) {
  body > header,
body > main,
body > footer {
    max-width: 1130px;
  }
}
